@charset "utf-8";
.contaner{
	position: relative;
}
.top{
	background: #007bc1;
	height: 40px;
}
.top ul{
	position: absolute;
	left: 68%;
}
.top li{
	float: left;
	padding: 10px 0;
	margin: 0 6px;
	color: #fff;
}
.top a{
	color: #bde7fe;
}
.logo{
	background: #109AE8;
}
.logo .img{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.logo .img .img_left{
	display: block;
	float: left;
}
.logo .img .img_right{
	display: block;
	float: right;
}
.link{
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	background: #ff0;
}
.link .nav li{
	float: left;
	margin: 0px 22px;
	padding: 20px 0;
}
.link .nav a{
	font-size: 16px;
	font-weight: bold;
	
}
.link .s{
	width: 146px;
	display: none;
	margin-top:20px ;
	margin-left: -20px;
	z-index: 1000;
	position: absolute;
	
}
.link .nav .s li{
	float: none;
	margin: 0;
	padding: 0;
}
.link .nav .s img{
	vertical-align: top;
}
.link .nav .s a{
	display: block;
	font-size: 12px;
	font-weight:normal;
	color: #fff;
	background:url(../images/p-4.png) repeat-y;
}
